<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Datalab | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ url "static/portal/favicon.ico" }}">
  <link rel="stylesheet" href="{{ url "static/portal/bootstrap.min.css" }}">
  <link rel="stylesheet" href="{{ url "static/portal/portal.css" }}">
</head>

<body>

<nav class="navbar navbar-expand sticky-top navbar-light border-bottom bg-white">
  <a class="navbar-brand mr-5 ml-2" href="/portal/landing/">
    <img src="{{ url "static/portal/pwc.svg" }}" height="32" alt="" class="mr-3" style="position: absolute;">
    <span class="border-left pl-3" style="font-family: Georgia, sans-serif; font-size: 1.375rem; margin-left: 60px;">DataLab</span>
  </a>
</nav>
