{{ template "header.html" . }}

<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Log in to the PwC DataLab</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <form method="post" action="{{ .PostURL }}">
        <div class="form-group">
          <label for="userid">{{ .UsernamePrompt }}</label>
          <input tabindex="1" required id="login" name="login" type="text" class="form-control"
                 placeholder="{{ .UsernamePrompt | lower }}" {{ if .Username }} value="{{ .Username }}" {{ else }}
                 autofocus {{ end }}/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input tabindex="2" required id="password" name="password" type="password" class="form-control"
                 placeholder="password" {{ if .Invalid }} autofocus {{ end }}/>
        </div>

        {{ if .Invalid }}
        <div id="login-error" class="invalid-feedback">
          Invalid {{ .UsernamePrompt }} and password.
        </div>
        {{ end }}

        <button tabindex="3" id="submit-login" type="submit" class="btn btn-primary">Login</button>

      </form>

      {{ if .BackLink }}
      <hr class="my-3">
      <div class="small">
        <a class="btn btn-link" href="javascript:history.back()">Select another login method.</a>
      </div>
      {{ end }}

    </div>
  </div>


</div>

{{ template "footer.html" . }}
