/*.nav-item.active {
    background-color: #e0301e;
    margin-top: -9px;
    margin-bottom: -9px;
    padding-top: 0.5rem;
}*/

/*
.nav-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}*/

html, body {
    min-height: 100%;
    background-color: #f2f2f2;
}

.big-header {
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.ie-special-case {
    display: flex;
}

#body-content {
    width: 100%; /* 2 */
    min-height: 100vh;
    display: -webkit-flex; /* 3 */
    display: flex;
    -webkit-flex-direction: column; /* 3 */
    flex-direction: column;
}

#content-page {
    -webkit-flex-grow: 1; /* 3 */
    flex-grow: 1;
}

.highlighted {
    background-color: yellow;
}

#landing_video {
    width: 100%;
    height: 36.142322097378277vw; /* = 386/1068*100 (dimensions of the video)  */
    margin-bottom: -10px;
    margin-top: -1px;
    z-index: -1000;
}

.user-letter-icon {
    display: inline-block;
    /*font-size:1em;*/
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    background: grey;
    vertical-align: middle;
    /*margin-right:1em;*/
    color: white;
    font-size: 100%;
}

.team-bubble {
    display:inline-flex;
    width:27px;
    height:27px;
    line-height:27px;
    text-align:center;
    border-radius:50%;
    vertical-align:middle;
    padding: 0;
    justify-content: center;
    font-size: 12px;
}

/* Swatches needed, in addition to bootstrap 4 */

.swatch-blue {
    background-color: #0a4e7b;
    color: #fff;
}

.swatch-indigo {
    background-color: #4b3a68;
    color: #fff;
}

.swatch-purple {
    background-color: #c01ee0;
    color: #fff;
}

.swatch-pink {
    background-color: #d93954;
    color: #fff;
}

.swatch-red {
    background-color: #e0301e;
    color: #fff;
}

.swatch-orange {
    background-color: #d04a02;
    color: #fff;
}

.swatch-yellow {
    background-color: #ffb600;
    color: #111;
}

.swatch-green {
    background-color: #006652;
    color: #fff;
}

.swatch-teal {
    background-color: #736b53;
    color: #fff;
}

.swatch-cyan {
    background-color: #17a2b8;
    color: #fff;
}

.swatch-white {
    background-color: #fff;
    color: #111;
}

.swatch-gray {
    background-color: #81888d;
    color: #fff;
}

.swatch-gray-dark {
    background-color: #31393f;
    color: #fff;
}

.swatch-primary {
    background-color: #d04a02;
    color: #fff;
}

.swatch-secondary {
    background-color: #81888d;
    color: #fff;
}

.swatch-link {
    background-color: #d93954;
    color: #fff;
}

.swatch-success {
    background-color: #006652;
    color: #fff;
}

.swatch-info {
    background-color: #736b53;
    color: #fff;
}

.swatch-warning {
    background-color: #ffb600;
    color: #111;
}

.swatch-danger {
    background-color: #e0301e;
    color: #fff;
}

.swatch-light {
    background-color: #f2f2f2;
    color: #111;
}

.swatch-dark {
    background-color: #31393f;
    color: #fff;
}

.swatch-100 {
    background-color: #f2f2f2;
    color: #111;
}

.swatch-200 {
    background-color: #e7e7e8;
    color: #111;
}

.swatch-300 {
    background-color: #d8d8d8;
    color: #111;
}

.swatch-400 {
    background-color: #d0d4d8;
    color: #111;
}

.swatch-500 {
    background-color: #adb4ba;
    color: #111;
}

.swatch-600 {
    background-color: #81888d;
    color: #fff;
}

.swatch-700 {
    background-color: #495057;
    color: #fff;
}

.swatch-800 {
    background-color: #31393f;
    color: #fff;
}

.swatch-900 {
    background-color: #282f34;
    color: #fff;
}

.swatch-light-red {
    background-color: #F7C8C4;
    color: #111;
}

.dropdown-icon-btn {
    padding: 0 0.3rem;
    color: #81888d;
}

.dropdown-icon-btn:hover {
    cursor: pointer;
    color: #31393f;
}

.tooltip-btn {
    /* empty: used to activate a tooltip when a button has multiple data toggle*/
}

.hover-text-danger:hover {
    color:#e0301e;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
